.dif {
    background-color: rgba(172, 180, 201, 0.719);
    border-radius: 3vh;
    margin: 3vh;
}

.dif h2 {
    text-align: center;
    color: rgb(21, 21, 22);
}

.dif p {
    color: rgb(48, 41, 41);
}

.img-fluid {
    padding-top: 2vh;
    max-width: 70%;
    height: auto;
}