.dif {
    background-color: rgba(87, 104, 112, 0.61);
    border-radius: 3vh;
    margin: 3vh;
}

.dif h2 {
    text-align: center;
    color: aliceblue;
}

.dif p {
    color: rgb(255, 255, 255);
}

.img-fluid {
    padding-top: 2vh;
    max-width: 70%;
    height: auto;
}