@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --main-color: rgb(0, 217, 255);
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(../img/web/s1\ ft1.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: block;
  font-family: "Roboto", sans-serif;
  touch-action: pan-y;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--main-color);
  transition: 0.6s;
}

mark {
  color: yellow;
  background-color: transparent;
}

button {
  background-color: var(--main-color) !important;
}

.overlay {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 0.5vw;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3vw 1vw;
}

.nav-top {
  width: 100%;
  padding: 0 5vw;
}

.nav-top .cont-menu {
  display: flex;
  float: right;
}

.cont-menu a {
  display: flex;
  text-align: center;
  padding: 0.6vw 2vw;
  font-size: 0.95vw;
  font-weight: 700;
  letter-spacing: 0;
  transform: scale(1.2, 1);
}

.logo img {
  height: 3vw;
  padding: 0vw 1.5vw;
}

.nav-top .icon {
  display: none;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 9vw 10vw;
  height: 38vw;
}

.content h1 {
  font-weight: 900;
  font-size: 7vw;
  text-align: center;
  transform: scale(1.1, 0.98);
  line-height: 140%;
  padding-bottom: 0;
}

.content p {
  font-size: 1vw;
  text-align: center;
  padding: 3vw 18vw;
  padding-bottom: 0;
  font-weight: 400;
}

.contact {
  display: flex;
  justify-content: center;
  padding: 1vw 1vw;
}

.contact .btn-contact {
  background-color: var(--main-color);
  font-size: 1vw;
  color: white;
  border: transparent;
  border-radius: 4.5vw;
  text-align: center;
  padding: 1vw 1.5vw;
  font-weight: 500;
}

/* tela de largura média */
@media screen and (max-width: 1250px) {
  .nav-top {
    display: flex;
    float: right;
    justify-content: center;
    text-align: center;
  }

  .nav-top a {
    display: none;
  }

  .nav-top a.icon {
    display: flex;
    position: fixed;
    cursor: pointer;
    top: 1.2vw;
    left: 5vw;
    padding: 1vw 1vw;
    font-size: 2vw;
  }

  .nav-top a.logo {
    display: flex;
    position: fixed;
    top: 2vw;
    padding: 1vw 3vw;
  }

  .logo img {
    height: 5vw;
  }

  .content {
    padding-top: 20vw;
  }

  .content p {
    padding-bottom: 0 !important;
  }

  .contact {
    padding-top: 20vw;
  }

  /* ativação do menu por css e javascript */
  .nav-top.menu {
    padding-bottom: 1.6%;
  }

  .nav-top.menu a.icon {
    left: 5vw;
    padding: 1vw 1vw;
    font-size: 2vw;
  }

  .nav-top.menu a {
    display: flex;
    text-align: center;
    padding-left: 3vw;
    font-weight: 500;
    font-size: 12px;
  }

  .nav-top.menu a:hover {
    color: var(--main-color);
  }

  .cont-menu.open {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1vw;
    padding: 1.5vw 2vw;
    top: 10vw;
    background: rgba(7, 7, 7, 0.8);
    transition: 0.5s;
  }
}

/* tela de largura pequena */
@media screen and (max-width: 750px) {
  .content h1 {
    transform: scale(1.5);
  }

  .content p {
    font-size: 3vw;
    text-align: center;
    padding: 20vw 7vw;
  }

  .content {
    padding: 30vw 6vw;
    position: relative;
    top: 15vw;
  }

  .contact {
    padding-top: 50vw;
  }

  .contact .btn-contact {
    font-size: 2.5vw;
    padding: 2.5vw 6vw;
  }

  .nav-top.menu {
    padding: 2% 0;
  }

  .cont-menu.open {
    margin-right: 4vw;
    margin-left: 2vw;
  }

  .cont-menu.open a {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 450px) and (min-height: 600px) {
  .contact {
    padding-top: 80vw;
    padding-bottom: 0;
  }
}

@media screen and (max-height: 850px) {
  body {
    overflow-y: auto;
  }
}
